<h2>Get in Touch</h2>
<div class="contact-form col-sm-6 offset-sm-1">
  <form action="#">
    <div class="form-group">
      <label for="contactName" class="">Your Name:</label>
      <input type="text" name="name" id="contactName" class="form-control" placeholder="John Doe"/>
    </div>
    <div class="form-group">
      <label for="email" class="">Your Email:</label>
      <input type="text" name="email" id="email" class="form-control" placeholder="JohnDoe@email.com"/>
    </div>
    <div class="form-group">
      <label for="message" class="">Your Message:</label>
      <textarea name="message" id="message" class="form-control" rows="5" placeholder="Your message here..."></textarea>
    </div>
    <input type="submit" value="Send Message" class="form-control btn btn-outline-success"/>
  </form>
</div>
