<h4>Projects</h4>
<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Tools</th>
    <th scope="col">Date</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects, let i = index">
    <th scope="row">{{i + 1}}</th>
    <td><strong>{{project.Title}}</strong></td>
    <td><small>{{project.Tools}}</small></td>
    <td><small>{{project.DatePosted | date:'MMM dd, yyyy'}}</small></td>
    <td><small>Edit | <span class="text-danger delete-link" (click)="deleteProject(project)">Delete</span></small></td>
  </tr>
  </tbody>
</table>
