<div class="introduction">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <div class="col-sm-4">
          <div class="intro-image">
            <img src="http://placehold.jp/250x350.png" width="100%" height="auto">
          </div>
        </div>
        <div class="col-sm-8">
          <div class="intro-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut doloribus est ipsam nemo quo, rem soluta
              velit veniam. Est eveniet ex fuga.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam corporis deserunt dolore enim id illo.</p>
            <ul>
              <li>Consectetur</li>
              <li>Aspernatur</li>
              <li>Ipsam</li>
              <li>Ipsum</li>
            </ul>
            <button class="btn btn-outline-secondary"><i class="fas fa-download"></i> Download Resume</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="section featured-project">
  <h2 class="text-center">Featured Projects</h2>
  <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua.</p>
  <div class="projects">
    <app-project-card class="project" *ngFor="let project of featuredProjects" [project]="project"></app-project-card>
  </div>
</div>

<hr>

<div class="section featured-blog text-center">
  <h2>Featured Blog Posts</h2>
  <p class="lead">Lorem ipsum commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula
    ullamcorper malesuada proin libero nunc interdum varius sit amet mattis vulputate enim nulla aliquet porttitor.</p>
</div>
