<div class="introduction">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <div class="col-sm-4">
          <div class="intro-image">
            <img src="http://placehold.jp/250x350.png" width="100%" height="auto">
          </div>
        </div>
        <div class="col-sm-8">
          <div class="intro-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut doloribus est ipsam nemo quo, rem soluta
              velit veniam. Est eveniet ex fuga.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam corporis deserunt dolore enim id illo.</p>
            <ul>
              <li>Consectetur</li>
              <li>Aspernatur</li>
              <li>Ipsam</li>
              <li>Ipsum</li>
            </ul>
            <button class="btn btn-outline-secondary"><i class="fas fa-download"></i> Download Resume</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="section featured-project">
  <h2 class="text-center">Featured Projects</h2>
</div>

<hr>

<div class="section featured-blog">
  <h2 class="text-center">Featured Blog Posts</h2>
</div>
